.box-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.outer-box img {
    width: 350px;
    height: 200px;
}

.outer-box img:hover {
    width: 350px;
    height: 200px;
    border: 5px solid #4aaaa5;
}


.inner-box {
    position: relative;
    bottom: 75px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

@media (max-width: 980px) {       
    .outer-box img {
        width: 200px;
        height: 150px;
    }
    
    .outer-box img:hover {
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .outer-box img {
        width: 250px;
        height: 200px;
    }
    
    .outer-box img:hover {
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 640px) {    
    .outer-box img {
        width: 450px;
        height: 400px;
    }
    
    .outer-box img:hover {
        width: 450px;
        height: 400px;
    }
}